header{
    background-color: rgb(56, 68, 78);
    padding: 30px 0;
}
.caixa{
    position: relative;
    width: 1500px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: rgb(30, 30, 37);
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}
.produtos{
    width: 1500px;
    margin:0 auto;
    padding: 50px 0;
}


.produtos li{
    display: inline-block;
    text-align: center;
    width: 450px;
    vertical-align: top;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.imagem{
    width: 300px;

}
.link{
    font-size: 18px;
}


